@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 56px;
  text-align: center;
  /* line-height: 1.25; */
  margin-bottom: 24px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

#landing {
  background-color: #dff6ff;
}

.text-color {
  background: -webkit-linear-gradient(120deg, #3c819a, #9a3c81);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  width: 100%;
}

button {
    cursor: pointer;
}

.no-cursor {
  cursor: no-drop;
}

/* Navigation */

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  padding: 8px;
  font-size: 20px;
  color: #06283d;
  font-weight: bold;
}

.nav__link:not(.nav__link--primary):hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #06283d;
  border-radius: 4px;
}

.btn__menu {
  background-color: transparent;
  color: #06283d;
  font-size: 40px;
  border: none;
  text-align: center;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #dff6ff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 32px;
  font-weight: bold;
  color: #06283d;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: #06283d;
}

/* Landing Page */

header {
    min-height: calc(100vh - 80px); 
}

.header__container {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.header__img {
    position: relative;
    z-index: 2;
    max-height: 40vh;
    height: 100%;
    padding: 20px;
}


.btn {
    background: -webkit-linear-gradient(120deg, #3c819a, #9a3c81);
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
}

button:active {
    transform: translateY(1px);
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Highlights */
#highlights {
  position: relative;
}

#highlights:after,
#highlights:before {
  background: url(assets/wave.svg);
  content: "";
  position: absolute;
  left: 0;
  width: 101vw;
  height: 12vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight__img {
   border-width: 2px;
   border-style: solid;
   border-image: linear-gradient(360deg, #3c819a, #9a3c81) 1;
   border-radius: 4px;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 32px;
   margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
}

.highlight__para {
    max-width: 280px;
    text-align: center;
}

/* Features */

#features {
  padding-top: 8vw;
  background-color: #dff6ff;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: no-drop;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover {
  text-decoration: underline;
  cursor: no-drop;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 4px;
  color: #bfbfbf;
}

/* Explore */

#explore {
  background-color: #dff6ff;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

footer {
  background-color: #06283d;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: invert();
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
} 

.footer__link {
  padding: 0 8px;
}

/* Responsive */

@media (max-width:768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }


}

@media (max-width:550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}