@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 56px;
  text-align: center;
  /* line-height: 1.25; */
  margin-bottom: 24px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#landing {
  background-color: #dff6ff;
}

.text-color {
  background: -webkit-linear-gradient(120deg, #3c819a, #9a3c81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  width: 100%;
}

button {
    cursor: pointer;
}

/* Navigation */

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  padding: 8px;
  font-size: 20px;
  color: #06283d;
  font-weight: bold;
}

.nav__link:hover:not(.nav__link--primary) {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #06283d;
  border-radius: 4px;
}

/* Landing Page */

header {
    min-height: calc(100vh - 80px); 
}

.header__container {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.header__img {
    position: relative;
    z-index: 2;
    max-height: 40vh;
    height: 100%;
    padding: 20px;
}


.btn {
    background: -webkit-linear-gradient(120deg, #3c819a, #9a3c81);
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
}

button:active {
    transform: translateY(1px);
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Highlights */
#highlights {
  position: relative;
}

#highlights:before {
  background: url(assets/wave.svg);
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  transform: translateY(-100%);
  width: 101vw;
  height: 12vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlight__wrapper {
    display: flex;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight__img {
   border-width: 2px;
   border-style: solid;
   border-image: linear-gradient(360deg, #3c819a, #9a3c81) 1;
   border-radius: 4px;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 32px;
   margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 12px;
}

.highlight__para {
    max-width: 280px;
    text-align: center;
}